* {
  font-family: Arial, Verdana, Geneva, Tahoma, sans-serif
}

.body {
  margin: 0;
  overflow: hidden
    /* no scroll bar */
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 2px;
  border: 2px solid #0a0a0a;
  border-radius: 5px;
}
.small {
  background-color: #8fed8f;
}
.urgent {
  background-color: #e15959;
}
.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
.filters {
  margin-bottom: 30px;
}

.filters button {
  background-color: #b6e1ea;
  margin-right: 20px;
}
.buttons{
  background-color: greenyellow;
  height: 25px;
  font-size: large;
  font-weight: bolder;
  border-radius: 5%;
  border-width: 2px;
}
.addtaskbutton{
  background-color: greenyellow;
  height: 25px;
  font-size: large;
  font-weight: bolder;
  border-radius: 5%;
  border-width: 2px;
}
